Q1- Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
#Ans-
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series_q1 = pd.Series(data)
print(series_q1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2- Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
#Ans2-
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

series_q2 = pd.Series(my_list)
print(series_q2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3-Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

#Ans-
import pandas as pd

data_q3 = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df_q3 = pd.DataFrame(data_q3)
print(df_q3)

Q4- Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [4]:
#Ans-import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

# Creating a Series 
age_series = df['Age']
print("\nSeries:")
print(age_series)

DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

Series:
0    25
1    30
2    35
Name: Age, dtype: int64

Q5- Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
Ans- Certainly! There are numerous functions in Pandas that you can use to manipulate data in a DataFrame. Here are some common functions along with examples:

1. **head() and tail():** Display the first or last N rows of the DataFrame.

    ```python
    print(df.head())  # Display the first 5 rows
    print(df.tail(3))  # Display the last 3 rows
    ```

2. **info():** Display a concise summary of the DataFrame, including data types and non-null values.

    ```python
    print(df.info())
    ```

3. **describe():** Generate descriptive statistics of the DataFrame.

    ```python
    print(df.describe())
    ```

4. **mean(), sum(), count():** Calculate the mean, sum, or count of values in a column.

    ```python
    print(df['Age'].mean())  # Mean of the 'Age' column
    print(df['Salary'].sum())  # Sum of the 'Salary' column
    print(df['Gender'].value_counts())  # Count of each unique value in 'Gender'
    ```

5. **sort_values():** Sort the DataFrame by one or more columns.

    ```python
    df_sorted = df.sort_values(by='Age', ascending=False)
    print(df_sorted)
    ```

6. **drop():** Remove columns or rows from the DataFrame.

    ```python
    df_without_city = df.drop('City', axis=1)  # Remove the 'City' column
    df_without_row = df.drop(0, axis=0)  # Remove the first row
    ```

7. **filter():** Select specific columns or rows based on conditions.

    ```python
    df_filtered = df[df['Age'] > 30]  # Select rows where 'Age' is greater than 30
    ```

8. **groupby():** Group the DataFrame by a column and perform operations on each group.

    ```python
    grouped_data = df.groupby('Gender')['Age'].mean()  # Mean age for each gender
    ```

These are just a few examples, and Pandas offers a wide range of functions for data manipulation. The choice of function depends on the specific task you want to perform, such as filtering, sorting, summarizing, or transforming data.

Q6- Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [6]:
#Ans-
import pandas as pd

# Creating a Series
s = pd.Series([1, 2, 3, 4])
print("Original Series:")
print(s)

# Modifying the Series
s[2] = 10
s[3] = 20
print("\nModified Series:")
print(s)

# Creating a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print("\nOriginal DataFrame:")
print(df)

# Modifying the DataFrame
df['A'][1] = 10
df['B'][2] = 20
print("\nModified DataFrame:")
print(df)

Original Series:
0    1
1    2
2    3
3    4
dtype: int64

Modified Series:
0     1
1     2
2    10
3    20
dtype: int64

Original DataFrame:
   A  B
0  1  4
1  2  5
2  3  6

Modified DataFrame:
    A   B
0   1   4
1  10   5
2   3  20

Q7-Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
#Ans-
import pandas as pd

# Creating multiple Series
names_series = pd.Series(['Alice', 'Bob', 'Charlie'])
ages_series = pd.Series([25, 30, 35])
cities_series = pd.Series(['New York', 'San Francisco', 'Los Angeles'])

# Creating a DataFrame using the Series
df = pd.DataFrame({'Name': names_series, 'Age': ages_series, 'City': cities_series})

# Print the DataFrame
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles